#competition_list {
  text-align: center;
}

#competition_list a {
  color: var(--competition_list-a-color);
  font-size: var(--competition_list-a-size);
}

#competitions {
  margin: 1rem;
}

#competitions a {
  font-size: var(--competitions-a-font-size);
  color: var(--competitions-a-color);
  text-decoration: none;
}

#competitions a {
  font-size: var(--competitions-a-font-size);
  color: var(--competitions-a-color);
  text-decoration: none;
}

#competitions p {
  background: var(--competitions-p-background-color);;
  margin: 3rem;
  padding: 2rem;
  text-align: center;
  border: var(--competitions-p-border);
  border-radius: var(--competitions-p-border-radius);
}

#competitions p:hover {
  cursor: pointer;
  background: var(--competitions-p-hover-background-color);
  color: var(--competitions-p-hover-font-color);
  font-weight: 700;
}