main#dashboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(fit-content, 1fr);
  width: 100%;
  height: 100%;
}

#dashboard section {
  border: none;
  margin: 0 4rem 1rem 4rem;
  padding: 1rem;
  align-self: flex-start;
  max-height: 50rem;
  overflow: scroll;
}

#dashboard section article {
  margin: 0;
  padding: 1rem 0;
}

#dashboard section a {
  color: #000;
  text-decoration: none;
}

#dashboard a.completed-anomaly {
  border-bottom: 5px solid #157418;
}

#dashboard a.not-completed {
  border-bottom: 5px solid var(--crimson);
}

section#dashboard_team-members {
  text-align: left;
  grid-column: span 1;
}

section#dashboard_team-members h2 {
  margin: 0 5rem;
  text-align: center;
  font-size: 3rem;
}

section#captains-chair {
  grid-column: span 3;
}

section#captains-chair h3 {
  margin: 0 5rem;
}

section#captains-chair h4,
section#captains-chair h5 {
  color: #000;
}

@media (max-width: 1000px) {
  main#dashboard {
    grid-template-columns: 100%;
  }
}
