.editForm {
  width: 100%;
}

.edit textarea {
  min-height: 30rem;
  font-family: Helvetica, sans-serif;
  font-size: 1.9rem;
  font-weight: 700;
  padding: .5rem;
  width: 100%;
}

.edit input[type="time"] {
  width: 100%;
}