#home {
  display: flex;
  justify-content: center;
  background: #000;
}

#home p {
  font-size: 3rem;
}

#home #title {
  color: var(--ku-blue);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 5px 2px 5px var(--crimson);
}

#home #title #ku {
  color: var(--crimson);
  text-shadow: 5px 2px 5px var(--ku-blue);
}

@media (min-width: 650px) {
  #home {
    align-items: center;
    justify-content: center;
  }

  #home p {
    font-size: 10rem;
    text-shadow: 0 2px 0 #000;
  }
}
