#m-sign-in-main button {
  background: var(--list-btn-background);
  border: var(--list-btn-border);
  color: var(--list-btn-color);
  font-size: 2rem;
  padding: 0.75rem;
  text-decoration: none;
  display: block;
  margin: 1rem auto;
  width: 100%;
}
