main h2 {
  justify-self: flex-start;
}

main article {
  margin: 1rem;
  color: #000;
  padding: 2rem;
}

main article a {
  font-size: var(--list-a-font-size);
  color: var(--list-a-color);
  text-decoration: none;
}

article p,
h3 ~ p {
  color: #000;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

main article a p {
  background: var(--list-p-background-color);
  margin: 3rem;
  color: var(--list-a-color);
  padding: 2rem 2.5rem;
  text-align: center;
  font-weight: 700;
  border: var(--list-p-border);
}

main article a p:hover {
  cursor: pointer;
  background: var(--list-p-hover-background-color);
  color: var(--list-p-hover-font-color);
}

article.edit {
  display: flex;
}

form input {
  display: block;
  padding: 1rem;
  font-size: 1.9rem;
  font-weight: 700;
  margin: 1rem 0;
  width: 100%;
}

a.btn,
input.btn {
  background: var(--list-btn-background);
  border: var(--list-btn-border);
  color: var(--list-btn-color);
  font-size: 2rem;
  padding: 1rem;
  text-decoration: none;
  display: block;
  margin: 1rem auto;
}

a.btn:hover,
input.btn:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--list-btn-hover-color);
  background: var(--list-btn-hover-background);
}

form {
  width: 100%;
}

textarea {
  min-height: 30rem;
  font-family: Helvetica, sans-serif;
  font-size: 1.9rem;
  font-weight: 700;
  padding: 0.5rem;
  width: 100%;
}

input[type="time"] {
  width: 100%;
}

select {
  width: 100%;
  padding: 1rem;
  border: 0;
  font-size: 1.9rem;
  font-weight: 700;
}
