:root {
  /* *** Primary Color Palette *** */
  --ku-blue: #0051ba;
  --crimson: #e8000d;
  --jayhawk-yellow: #ffc82d;
  --signature-grey: #85898a;

  /* *** Secondary Color Palette *** */
  --night: #003459;
  --lake: #2767ff;
  --sky: #73cbf2;
  --fog: #8e9fbc;
  --steam: #dde5ed;
  --brick: #971b2f;
  --fire: #ff3042;
  --wheat: #f2a900;
  --terra-cotta: #c66e4e;
  --limestone: #d7d2cb;

  /* *** Body  *** */
  --font: Raleway, "Helvetica Neue", sans-serif;
  --body-background-color: var(--signature-grey);
  --body-font-color: #000;

  /* *** Header *** */
  --header-background-color: #fff;
  --header-font-color: #000;
  --header-a-color: #000;
  --header-a-hover-background-color: var(--crimson);
  --header-a-hover-font-color: white;
  --header-a-selected-background-color: var(--ku-blue);
  --header-a-selected-font-color: white;
  --header-h1-color: #000;
  --header-h1-size: 5rem;
  --header-button-background-color: var(--signature-grey);
  --header-button-font-color: black;
  --header-button-hover-background-color: var(--crimson);

  /* *** Main *** */
  --main-background-color: #000021;
  --main-font-color: white;
  --main-a-color: white;
  --main-a-hover-color: var(--jayhawk-yellow);

  /* *** Headings *** */
  --h2-color: var(--crimson);
  --h2-size: 4rem;
  --h2-text-shadow: 1px 1px white;
  --h3-color: var(--jayhawk-yellow);
  --h3-size: 3.5rem;
  --h3-text-shadow: 2px 2px black;
  --h4-color: var(--ku-blue);
  --h4-size: 3rem;
  --h5-color: var(--ku-blue);
  --h5-size: 2.5rem;
  --h6-color: var(--ku-blue);
  --h6-size: 2rem;

  /* *** Lists *** */
  --list-a-color: white;
  --list-a-size: 1.8rem;
  --list-a-font-size: 2rem;
  --list-a-color: white;
  --list-p-border: 1px solid black;
  --list-p-border-radius: 10px;
  --list-p-background-color: var(--crimson);
  --list-p-hover-background-color: var(--signature-grey);
  --list-p-hover-font-color: var(--jayhawk-yellow);

  /* *** Btn *** */
  --list-btn-background: var(--crimson);
  --list-btn-border: 2px solid white;
  --list-btn-border-radius: 10px;
  --list-btn-color: white;
  --list-btn-hover-color: var(--jayhawk-yellow);
  --list-btn-hover-background: var(--ku-blue);
}
